.btn{
  display: inline-block;
  background: var(--primary-red);
  color: var(--white);
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: var(--font);
  font-weight: 500;
}